*{box-sizing: border-box;}
@font-face {
  font-family: Clairvaux;
  src: ./assets/Clairvaux-Roman.ttf;
}

p {
  color: #5c6982;
  font-family: Clairvaux;
  font-size: 30px;
  padding: 0%;
}

img {
  width:100%;
}

body  {
  background-image: url("./assets/images/eriebackground.gif");
  height: 100%;
  width: 100%;
}

@keyframes spin {
  from{
  transform: rotateY(0deg);
  }
  to{
  transform: rotateY(360deg);
  }
}


.go-body {
  width: 100%;
  /* padding: 0; */
  margin: 0;
  background-color: black;
}

.go-background{
  width: 100%;
  height: 100%;
  border-color: green;
  float:left;
  padding: 0;
  margin: 0;
}

/* .go-hover{
  width: 100%;
  height: 100%;
  top: 0px;
  float:left;
  padding: 0;
  margin: 0;
  position: fixed;
}
.go-hover:hover {
  opacity: 0%;
} */

.fullsmooth{
  width: 10%;
  position: fixed;
  top: 0px;
  right: 20%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  filter: drop-shadow(0 0 30px #CEFA05);
}
.fullsmooth:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.halfsmooth{
  width: 10%;
  position: fixed;
  top: 80%;
  right: 10%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  filter: drop-shadow(0 0 30px #CEFA05);
}

.halfsmooth:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.rough{
  width: 10%;
  position: fixed;
  top: 50%;
  right: 80%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  filter: drop-shadow(0 0 30px #CEFA05);
}
.rough:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}
/* .box1{
  width: 100%;
  height: 10%;
  background-color: #CEFA05;
}
.box1:hover {
  opacity: 0.5;
} */
