*{box-sizing: border-box;}
@font-face {
  font-family: Clairvaux;
  src: ./assets/Clairvaux-Roman.ttf;
}

p {
  color: #5c6982;
  font-family: Clairvaux;
  font-size: 30px;
  padding: 0%;
}

img {
  width:100%;
}

body  {
  background-image: url("./assets/images/eriebg.gif");
  height: 100%;
  width: 100%;
  background-color: black;
}

@keyframes spin {
  from{
  transform: rotateY(0deg);
  }
  to{
  transform: rotateY(360deg);
  }
}


.go-background{
  width: 100%;
  height: 100%;
  border-color: green;
  float:left;
  padding: 0;
  margin: 0;
}

.go-hover{
  width: 100%;
  height: 100%;
  top: 0px;
  float:left;
  padding: 0;
  margin: 0;
  position: fixed;
}
.go-hover:hover {
  opacity: 0%;
}

.fullsmooth{
  width: 10%;
  position: fixed;
  top: 0px;
  right: 20%;
  /* outline-style: solid;
  outline-color: red;
  outline-width: medium; */
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  filter: drop-shadow(0 0 30px #CEFA05);

}
.fullsmooth:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.halfsmooth{
  width: 10%;
  position: fixed;
  top: 80%;
  right: 10%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  filter: drop-shadow(0 0 30px #CEFA05);
}

.halfsmooth:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.rough{
  width: 10%;
  position: fixed;
  top: 50%;
  right: 80%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  filter: drop-shadow(0 0 30px #CEFA05);
}
.rough:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.griff{
  width: 10%;
  position: fixed;
  top: 80%;
  right: 60%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  filter: drop-shadow(0 0 30px #CEFA05);
}
.griff:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.griffhead{
  width: 10%;
  position: fixed;
  top: 10%;
  right: 80%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  filter: drop-shadow(0 0 30px #CEFA05);
}
.griffhead:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.linegriff{
  width: 10%;
  position: fixed;
  top: 50%;
  right: 80%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  filter: drop-shadow(0 0 30px #CEFA05);
}
.linegriff:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}

.secretsgriff{
  width: 10%;
  position: fixed;
  top: 30%;
  right: 5%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  filter: drop-shadow(0 0 30px #CEFA05);
}
.secretsgriff:hover{
  filter: drop-shadow(0 0 30px #FCAE1E);
  animation-play-state: paused;
}
